<!DOCTYPE html>
<html>
  <head>
    <title>QuickFeedback</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
		<div class="container">
			<div id="flash" data-controller="flash">
    		<%= render "shared/flash" %>
  		</div>
    	<%= yield %>
		</div>
  </body>
</html>
